<!DOCTYPE html>
<head>
    <title><%= title %></title>
    <link href="https://unpkg.com/nes.css/css/nes.min.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Press Start 2P' rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
    <div id="nescss">
        <header class="sticky">
            <div class="container">
                <div class="nav-brand">
                    <h1><%= title %></h1>
                    <h2>Challenge Instancer</h2>
                </div>
            </div>
        </header>
        <div class="container">
            <main class="main-content">
                <section class="showcase">
                    <section id="create-container" class="nes-container with-title is-centered">
                        <h3 class="title">Spawning Instance...</h3>
                        <div class="item">
                            <div class="nes-container is-dark with-title nes-pointer">
                                <h4 class="nes-text">Please wait for the instance to spawn...</h4>
                            </div>
                            <progress id="progress-bar" class="nes-progress is-pattern" value="<%= waited %>" max="60"></progress>
                        </div>
                    </section>
                </section>
                <section class="showcase">
                </section>
            </main>
            <footer>
                <div>
                    <span>&copy;2024</span>
                    <span>Powered by <a href="https://nostalgic-css.github.io/NES.css/">NES.css</a></span>
                </div>
            </footer>
        </div>
        <script src="js/wait.js"></script>
    </div>
</body>
